task1/target/
task2/target/
task3/target/
task*/pom.xml.*

# https://github.com/takari/maven-wrapper#usage-without-binary-jar

task*/error_lines.txt

taxi-data-sorted-small.csv

task*/output/
task*/intermediatefolder/